@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Quicksand";
}
header, footer{
    background-color: rgb(141, 244, 213);
}

/*--------------------------- Header y Nav ------------------------------------------*/

nav{
    background-color: rgb(234, 234, 234);
}
header div img{
    min-width: 125px;
    max-width: 175px;
}
li a p{
    white-space: nowrap;
}
li a img{
    width: 30%;
}
.icono-sun{
    font-size: 20px;
    width: 20px;
}




/*------------------------------- Aside -----------------------------------------*/

i span{
    font-style: normal;
}
.carousel-caption h5,.carousel-caption p{
   
}
.redes-sociales{
    font-size: 2em;
  }

/*-------------------------------- Main -----------------------------------------*/

.marcador{
    top: 90%;
    left: 90%;
    font-size: 40px;
    z-index: 2;
    color: rgb(141, 244, 213);
}
.entrada{
    background-color:  rgb(234, 234, 234);
    border-radius: 20px;
    
}
.entrada h4{
    font-size: 3.5vw;
}
.entrada p, .entrada a{
    font-size: 2.5vw;
    
}
.entrada p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}
.modal-body p a{
    font-size: 0.7rem;
}
.boton-registro{
    width: 40%;
}

/*------------------------------------- Footer ------------------------------------*/

footer{
    background-color: black;
}
footer p,footer li,footer h4{
    color: white !important;
}
footer p,footer li{
    font-size: 0.8rem;
}
footer hr{
    color: white;
}
footer hr:first-of-type{
    margin: 0px;
}


/*------------------------------------- Media --------------------------------------*/

@media screen and (min-width:576px){
    .entrada h4{
        font-size: 2.5vw;
    }
    .entrada p, .entrada a{
        font-size: 2vw;
    }

}
@media screen and (min-width:768px){
    .entrada h4{
        font-size: 2vw;
    }
    .entrada p, .entrada a{
        font-size: 1.5vw;
    }
}
@media screen and (min-width:992px){
    .entrada h4{
        font-size: 1.4vw;
    }
    .entrada p, .entrada a{
        font-size: 0.7vw;
    }
}


/*------------------------Mostrar Video-----------------------------
*
*/
.oculto{
    display: none;
}

#myVideo {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    
    z-index: 10001;
  }

#content{
    top:2%;
    right: 2%;
}
  #content,#animacion{
    z-index: 10002;
  }

  .contenidoVideo{
    top: 0;
    left: 0;
    height: auto;
  }

  .btn-close {
    padding: 20px;
    height: auto;
    color: rgb(141, 244, 213);
    z-index: 10002;
    background-color: white;
  }  
  #content h1:hover {
    cursor: pointer;
    color: rgb(148, 148, 148);
  }
  .animacion {
    width:100%;
    height: 100px;
    background: #536894;
 
    bottom: 20%;
    animation: mymove 5s ;
    z-index: 10002;
  }
  
  @keyframes mymove {
    from {bottom: 100%;}
    to {bottom: 20%;}
  }
  .ajusteVideo{
    width: 85%;
    margin: auto;
  }


  /*-----------------Switch Dark mode----------------------*/

  .boton-switch {
    width:75px;
    height:30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }

  .boton-switch:after {
    content: "";
    width:27px;
    height: 27px;
    position: absolute;
    top:1.5px;
    left:1.5px;
    background: linear-gradient(180deg,#ffffff,#a38d8d);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  .input-switch {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .input-switch:checked + .boton-switch {
    background: #242424;
  }
  .input-switch:checked + .boton-switch:after {
    left:73.5px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  .boton-switch, .boton-switch:after {
    transition: 0.3s
  }
  .boton-switch:active:after{ 
    width: 39px; 
  }


  .input-switch:checked + .boton-switch + .background {
    background:#242424;
  }


  .boton-switch i {
    position: absolute;
    width: 18px;
    top:3.5px;
    z-index: 100;
  }
  .boton-switch i.sun {
    left:6px;
    fill:#fff;
    transition: 0.3s;
  }
  .boton-switch i.moon {
    left:53px;
    fill:#7e7e7e;
    transition: 0.3s;
  }
  .input-switch:checked + .boton-switch i.sun {
    fill:#7e7e7e;
  }
  .input-switch:checked + .boton-switch i.moon {
    fill:#fff;
  }